/* tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Resetting scrollbar */
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

} */

/* Topbar styling */
.topbar {
  position: sticky;
  top: 0px;
  z-index: 49;
  background-color: #fff; /* White background for contrast */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Dots container */
.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-bottom: 5px;
}

/* Dot styling */
.dot {
  height: 12px;
  width: 12px;
  margin-right: 10px;
  border-radius: 50%; /* Circular dots */
  background-color: #2caeba; /* Teal color for vibrancy */
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

/* Pulse animation */
@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc; /* Light blue */
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
  50% {
    transform: scale(1.2);
    background-color: #4b79e4; /* Dark blue */
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }
  100% {
    transform: scale(0.8);
    background-color: #2584f8; /* Another shade of blue */
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}

/* Application theme variables */
@layer base {
  :root {
    --color-bg: #f8f9fa; /* Light grey background */
    --color-primary: #007bff; /* Primary blue color */
    --color-secondary: #6c757d; /* Secondary grey color */
    --color-ascent1: #28a745; /* Green accent color */
    --color-ascent2: #dc3545; /* Red accent color */
    --color-blue: #007bff; /* Reusing primary blue for consistency */
    --color-white: #fff; /* White color for contrast */
  }

  [data-theme="dark"] {
    --color-bg: #343a40; /* Dark grey background */
    --color-primary: #17a2b8; /* Darker blue */
    --color-secondary: #6c757d; /* Secondary grey color */
    --color-ascent1: #28a745; /* Green accent color */
    --color-ascent2: #dc3545; /* Red accent color */
    --color-blue: #007bff; /* Reusing primary blue for consistency */
    --color-white: #fff; /* White color for contrast */
  }
}
